
.Tabs {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Tabs__Tab {
  display: inline-block;
  padding: 0.4em;
  background: #ededed;
  color: darkorange;
  cursor: pointer;
}

.Tabs__Tab:hover, .Tabs__Tab--active {
  background: red;
  color: white;
}

.Tabs__Underline {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 3px solid black;
}